$color-offset-light: #FDFDF9;
$color-offset-dark: #32331A;
$color-primary: #D2E599;
$color-low-contrast-light: #E6E6E3;
$color-low-contrast-dark: #44452E;
$color-high-contrast-light: $color-offset-dark;
$color-high-contrast-dark: $color-offset-light;
$color-reduced-contrast-light: $color-low-contrast-dark;
$color-reduced-contrast-dark: $color-low-contrast-light;
$color-negative: #F15062;
$color-positive: $color-primary;
$color-interactive2: #2E9CCC;
$color-interactive1: #1791C6;
$color-interactive: #0087C1;
$color-interactive-1: #007BB0;
$color-interactive-2: #006F9E;