main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#header > h1 {
    font-weight: normal;
    font-size: 0.9em;
    letter-spacing: 1px;
}
#header > h1 > a {
    text-decoration: none;
    color: #333333;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#footer > p {
    font-size: 0.6em;
    color: #666666;
    cursor: default;
    font-weight: normal;
}